[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes/pelican-twitchy"]
	path = themes/pelican-twitchy
	url = https://github.com/xenithorb/pelican-twitchy.git
	branch = opsech.io
[submodule "fig_alt_caption"]
	path = plugins/markdown-plugins/fig_alt_caption
	url = https://github.com/jdittrich/figureAltCaption.git
